*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  cursor: default;
}
li {
  margin: 0;
  padding: 0;
}
hr {
  margin: 0;
  border: 2px solid #020242;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
th {
  font-weight: bold;
  background-color: #E6E6E6;
}
.carousel {
  display: flex;
  margin: auto;
  width: 800px;
  height: max-content;
  background-color: antiquewhite;
}
.carousel .leftA,
.carousel .rightA {
  padding-top: 170px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  width: 100px;
  height: 400px;
  cursor: pointer;
}
.carousel .leftA {
  filter: contrast(20%);
}
.carousel .pic {
  width: 600px;
  height: 400px;
  background-color: #e2dddd;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../image/1.jpeg);
}
.accordionWrapper {
  padding: 30px;
  width: 800px;
  margin: auto;
}
.accordionWrapper .accordionItem {
  display: block;
  width: 100%;
}
.accordionWrapper .accordionItem .accordionItemHeading {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  background-color: #10517c;
  color: #fff;
  width: 100%;
  border-radius: 3px;
}
.accordionWrapper .close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  display: block;
}
.accordionWrapper .open .accordionItemContent {
  color: white;
  padding: 20px;
  background-color: #2980b9;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
}
.bookList {
  width: max-content;
  margin: auto;
}
.bookList .book {
  background-color: orange;
}
.getDate {
  margin: auto;
  padding: 10px;
  width: 800px;
  background-color: antiquewhite;
}
.getDate .date:first-of-type {
  margin-left: 250px;
  margin-bottom: 20px;
}
.getDate #calendar {
  margin-left: 300px;
}
